<div class="component">
    <div fxLayout="row wrap" fxLayoutAlign="space-around">
        <div fxFlex="100%" fxFlex.gt-md="100%">
            <mat-card>
                <mat-card-content>
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title>{{technologie?.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-list>
                        <div *ngIf="technologie?.status">
                            <mat-list-item>
                                <div><span>Category: </span>{{technologie?.category}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div><span>Ring: </span>{{technologie?.ring}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div><span>Beschreibung Technologie: </span>{{technologie?.description}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div><span>Beschreibung der Einordnung: </span>{{technologie?.descriptionClassification}}</div>
                            </mat-list-item>
                        </div>
                    </mat-list>
                    <mat-card-actions fxLayoutAlign="center center">
                        <button mat-raised-button color="warn" (click)="deleteTechnologie(technologie)">Delete technology</button>
                        <button mat-raised-button color="primary"  routerLink="/admin-dashboard/{{technologie?._id}}">Edit technology</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>