<div class="component">
    <div fxLayout="row wrap" fxLayoutAlign="space-around">
        <div fxFlex="100%">
            <mat-card class="size">
                <mat-card-content>
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title>{{technologie?.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-list>
                        <div *ngIf="technologie?.status">
                            <div><span><b>Category: </b></span>{{technologie?.category}}</div>
                            <div><span><b>Ring: </b></span>{{technologie?.ring}}</div>
                            <span><b>Beschreibung Technologie: </b></span><div>{{technologie?.description}}</div>
                           <span><b>Beschreibung der Einordnung: </b></span> <div>{{technologie?.descriptionClassification}}</div>
                        </div>
                    </mat-list>
                    <mat-card-actions fxLayoutAlign="center center">
                        <button mat-raised-button color="warn" (click)="deleteTechnologie(technologie)">Delete
                            technology</button>
                        <button mat-raised-button color="primary"
                            routerLink="/admin-dashboard/{{technologie?._id}}">Edit technology</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>