<mat-toolbar color="primary">
    <a mat-button class="companyName" routerLink="/">
        <span>{{title}}</span>
    </a>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/rader-viewer" *ngIf="this.tokenService.isLoggedIn">Technologie Rader</a>
        <span class="example-spacer"></span>
    </div>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/admin-dashboard" *ngIf="this.tokenService.getUserRoleAdmin()">Admin Dashboard</a>
        <span class="example-spacer"></span>
    </div>
    <span class="example-spacer"></span>

    <div fxHide.lt-md="true">
        <a mat-button routerLink="/login" *ngIf="!this.tokenService.isLoggedIn">
            <mat-icon>login</mat-icon>
            Login
        </a>
        <a mat-button *ngIf="this.tokenService.isLoggedIn" routerLink="/logout" (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
        </a>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">

        <div fxLayout="column">
            <a mat-button routerLink="/rader-viewer" *ngIf="this.tokenService.isLoggedIn">Technologie Rader</a>
            <span class="example-spacer"></span>
        </div>
        <div fxLayout="column">
            <a mat-button routerLink="/admin-dashboard" *ngIf="this.tokenService.getUserRoleAdmin() && this.tokenService.isLoggedIn">Admin Dashboard</a>
            <span class="example-spacer"></span>
        </div>
        <div  fxLayout="column">
            <a mat-button routerLink="/login" *ngIf="!this.tokenService.isLoggedIn">
                <mat-icon>login</mat-icon>
                Login
            </a>
            <a mat-button *ngIf="this.tokenService.isLoggedIn" routerLink="/logout" (click)="logout()">
                <mat-icon>logout</mat-icon>
                Logout
            </a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>